@model ProjectBackAndFrontend.Core.Paging.FilterResult<ProjectBackAndFrontend.Web.Models.OrderModel>

@if (Model.DataItems != null && Model.DataItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Дата заказа</th>
                <th scope="col">Дата оплаты</th>
                <th scope="col">Статус</th>
                <th scope="col">Сумма</th>
                <th scope="col">Заказ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.DataItems)
            {
                <tr>
                    <td>@order.Number</td>
                    <td>@order.OrderDate</td>
                    <td>@order.PaymentDate</td>
                    <td>@order.Status</td>
                    <td>@order.Sum</td>
                    <td>@order.OffersArtNo.Select(x => x.Text).Aggregate((x, y) => x + "," + y)</td>
                    <td><a href="#" class="glyphicon glyphicon-pencil" onclick="editOrder(@order.OrderId)"></a></td>
                    <td><a href="#" class="glyphicon glyphicon-remove" onclick="deleteOrder(@order.OrderId, @order.CustomerId)"></a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pager">
        <div>
            Total items @Model.TotalItemsCount
        </div>
        <div>
            Page @(Model.TotalPageCount < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPageCount
        </div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : string.Empty)">
                    @if (i == Model.PageIndex)
                    {
                        <span>@i</span>
                    }
                    else
                    {
                        <a href="#">@i</a>
                    }
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-3">
            Нет заказов
        </div>
    </div>
}