@model ProjectBackAndFrontend.Core.Paging.FilterResult<ProjectBackAndFrontend.Web.Models.OfferModel>

@if (Model.DataItems != null && Model.DataItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Артикул</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Основной</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataItems)
            {
                <tr>
                    <td>@item.ArtNo</td>
                    <td>@item.Amount</td>
                    <td>@item.Price</td>
                    <td>@(item.Main ? "Основной" : "Не основной")</td>
                    <td><a href="#" class="glyphicon glyphicon-pencil" onclick="editOffer(@item.Id)"></a></td>
                    <td><a href="#" class="glyphicon glyphicon-remove" onclick="deleteOffer(@item.Id, @item.ProductId)"></a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pager">
        <div>
            Total items @Model.TotalItemsCount
        </div>
        <div>
            Page @(Model.TotalPageCount < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPageCount
        </div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : string.Empty)">
                    @if (i == Model.PageIndex)
                    {
                        <span>@i</span>
                    }
                    else
                    {
                        <a href="#">@i</a>
                    }
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-3">
            Нет офферов
        </div>
    </div>
}