<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Html.Partial("_Head")
    </head>
    <body>
        @Html.Partial("_Header")
        @Scripts.Render("~/bundles/jquery")
        <div class="container body-content">
            @RenderBody()
            <hr />
            @Html.Partial("_Footer")
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="@Url.Content("~/Scripts/common.js")"></script>
        <script src="@Url.Content("~/Scripts/fetchTable.service.js")"></script>
    </body>
</html>
